* {
    margin: 0;
    padding: 0;
}

.icones a i:hover {
    text-shadow: 0rem 0rem 0.125rem rgba(0, 90, 60, 0.767);
}

img:hover {
    opacity: .8;
    transition: .5s;
}

@media (min-width: 576px) {
    .container .eu {
        width: 450px;
        border-radius: 50% 70%;
    }
}

@media (max-width: 576px) {
    .container .eu {
        margin-top: 50px;
        width: 320px;
        border-radius: 50% 70%;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.azul {
    background: #0575E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.texto-blue {
    color: whitesmoke;
}

.texto-link {
    color: teal;
}

.azul-claro {
    background: #36d1dc17;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5b87e51c, #36d1dc1c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5b87e528, #36d1dc1a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.backgroud {
    background: url(/img/deve.jpg);
    background-color: rgb(108, 117, 125);
    background-attachment: fixed;
    font-family: helvetica, Arial, sans-serif;
}