*{
    margin: 0;
    padding: 0;
}

.icones a i:hover {
    text-shadow: 0rem 0rem 0.125rem rgba(0, 90, 60, 0.767);
}

img:hover {
    opacity: .8;
    transition: .5s;
}

@media (min-width: 576px) {
    .container .eu {
        width: 450px;
        border-radius: 50% 70%;
    }
}

@media (max-width: 576px) {
    .container .eu {
        margin-top: 50px;
        width: 320px;
        border-radius: 50% 70%;
    }
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
}